<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <title>Bandana</title>
</head>
<body>
    <h1>What is Bandana</h1>
    <p>Why it's simple publishing platform for musicians to:</p>
    <ul>
        <li>Host their songs</li>
        <li>Promote upcoming tour dates</li>
        <li>Showcase video content</li>
        <li>Establish a well designed, clean, and simple interface for their fans to learn more about them</li>
    </ul>
    <p>See a list of <a href="/bands">rock star artists</a> currently using Bandana.</p>
    <p>Made by musicians for musicians.</p>
</body>
</html>
